.MeshInfo {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.73);

    display: flex;
    justify-content: center;
    align-items: center;
}

#Discripts {
    display: none;
    max-width: 90vw;
    max-height: 90vh;
    cursor: pointer;
    pointer-events: auto;
}

#info_Panel {
    display: none;
    position: relative;
    width: 90vw;
    max-width: 1080px;
    aspect-ratio: 1080/1830;
    background-color: #ca4a4ac2;
    pointer-events: auto;
    margin: auto;
}

.info_image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

#info_button {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 20%;
    cursor: pointer;
}

#info_button img {
    width: 100%;
    height: auto;
}

#ButtonPanel {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgba(232, 29, 29, 0.749);

    display: flex;
    justify-content: center;
    align-items: center;
}

#Ani_button {
    width: 15vw;
    max-width: 150px;
    cursor: pointer;
}

#Ani_button img {
    width: 100%;
    height: auto;
}
