.MeshInfo {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: auto;
    margin: auto;
    pointer-events: none;
    background-color: rgb(151, 151, 182);

    display: flex;
    justify-content: center;
    align-items: center;
}

#Discripts {
    display: none;
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
    pointer-events: auto;
    opacity: 100%;
    max-height: 100vh
}


.info_image {
    display: none;
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
    pointer-events: auto;
    opacity: 100%;
    max-height: 100vh
}