.MeshInfo {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items:center;
}

#Discripts {
    display: none;
    max-width: 90vw;
    max-height: 90vh;
    cursor: pointer;
    pointer-events: auto;
}

#info_Panel {
    display: none;
    position: relative;
    /* width: 100vw;
    max-width: 1080px; */
    height: 95vh;
    max-height: 1830px;
    aspect-ratio: 1080/1830;
    background-color: hwb(0 17% 12% / 0.5);
    pointer-events: auto;
    margin: auto;
}

.info_image {
    display: none;
    position: absolute;
    top: 0;
    left:0%;
    /* width: 100%;
    height: auto; */
    height: 100%;
    width: auto;
    max-height: 100%;
    object-fit: contain;
}

#info_button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 20%;
    cursor: pointer;
}

#info_button img {
    width: 100%;
    height: auto;
}

#ButtonPanel {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-color: rgba(232, 29, 29, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

#Ani_button {
    width: 30vw;
    max-width: 200px;
    cursor: pointer;
    border-width: 2px;
    border-radius: 30px;
    background-color: rgb(255, 149, 0);
}

#Ani_button p {
    text-align: center;
    justify-content: center;
    font-weight:bolder;
    font-size: 40px;
    color: rgb(248, 3, 3);
}
